<div class="row top-buffer">
    <div class="col-sm-6">
        <a class="text-primary confirm-version btn btn-success" href="#" onclick="updateVersions()" style="display: none">
            <span class="glyphicon glyphicon-ok"></span>
            Update versions
        </a>
    </div>
</div>
