
<!-- Latest compiled and minified JavaScript -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<row>
    <div class="col-md-12">
        <hr>
        <footer>
        <small>© Copyright 2016, Gordon Pimblott</small>
        </footer>
    </div>
</row>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> §-->
<script src="/lib/jquery.min.js"></script>
<script src="/lib/cookie.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>