<header role="banner" id="top" class="navbar navbar-static-top site-nav bs-docs-nav">

    <div class="container">
        <div class="navbar-header">
            <button aria-expanded="false" aria-controls="bs-navbar" data-target="#site-navbar" data-toggle="collapse"
                    type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Radar</a>
        </div>
        <nav class="collapse navbar-collapse" id="site-navbar">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/radar/tools">Tools</a></li>
                        <li><a href="/radar/platforms">Platforms</a></li>
                        <li><a href="/radar/languages-and-frameworks">Languages & Frameworks</a></li>
                        <li><a href="/radar/infrastructure">Infrastructure</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalogue<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/technology/add">Add</a></li>
                        <li><a href="/technology/update">Update</a></li>
                        <li><a href="/technology/search">Search</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vote<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/manage/vote">Vote</a></li>
                        <li><a href="/manage/admin">Manage</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
