<header role="banner" id="top" class="navbar navbar-static-top site-nav bs-docs-nav">

    <div class="container">
        <nav class="collapse navbar-collapse" id="site-navbar">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#help">Help</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
