<header role="banner" id="top" class="navbar navbar-fixed-top site-nav bs-docs-nav">
    <div class="container">
        <div class="navbar-header">
            <button aria-expanded="false" aria-controls="bs-navbar" data-target="#site-navbar" data-toggle="collapse"
                    type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Radar</a>
        </div>
        <nav class="collapse navbar-collapse" id="site-navbar">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Categories<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <% categories.forEach( function(category) {
                            var url = encodeURI('/category/' + category.name + '/technologies').toLowerCase(); %>
                        <li><a href="<%= url %>"><%= category.name %></a></li>
                        <% }); %>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Technology<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/technology/search">Search</a></li>
                        <% if (user.canEdit) { %>
                        <li role="separator" class="divider"></li>
                        <li><a href="/technology/add">Add Technology</a></li>
                        <% } %>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Projects<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/projects">Search</a></li>
                        <% if (user.canEdit) { %>
                        <li role="separator" class="divider"></li>
                        <li><a href="/project/add">Add Project</a></li>
                        <% } %>

                    </ul>
                </li>
                <li><a href="/dashboard">Dashboard</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if (user.admin) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Manage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/technologies">Technologies</a></li>
                        <li><a href="/users">Users</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/categories">Categories</a></li>
                    </ul>
                </li>
                <% } %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><%= user.username %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">Edit profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
