DATABASE_URL=postgres://username:password@hostname:5432/databasename?ssl=true
USE_SSL=true

# General mailer settings
MAIL_FROM=noreply@local.dev

# Implementation specific mailer settings (uncomment appropriate group)

# Use stub mailer printing to STDIO
MAILER=stub

# Use sparkpost mailer (make sure MAIL_FROM domain is added in your SparkPost account or use *@sparkpostbox.com for dev)
# MAILER=sparkpost
# SPARKPOST_API_KEY=<provide_the_key>

# Use smtp server
# MAILER=smtp
# SMTP_PORT=25
# SMTP_TLS=0
# SMTP_HOST=localhost
# SMTP_USERNAME=<username>
# SMTP_PASSWORD=<pwd>