DATABASE_URL=postgres://username:password@hostname:5432/databasename?ssl=true
USE_SSL=true
NODE_ENV="development"
AZURE_IDENTITY_METADATA=https://login.microsoftonline.com/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx/.well-known/openid-configuration
AZURE_CLIENT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxx
AZURE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxx=
AZURE_RETURN_URL=https://xxxxxxxxxxx.com/auth/openid/return
