<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../../partials/head.ejs %>

</head>

<body>

<% include ../../partials/menu.ejs %>

<div tabindex="-1" id="content" class="site-header">
    <div class="container">
        <row>
            <div class="col-md-8">
                <h1>Dashboard</h1>
            </div>
        </row>
    </div>
</div>

<div class="container bs-docs-container">

    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="/">Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <canvas id="usersOfTechnology" height="200"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <canvas id="statusChangesChart" height="200"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <canvas id="mostUsedTechChart" height="200"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1" height="300">
            <canvas id="userChart" height="300"></canvas>
        </div>
        <div class="col-md-5" height="300">
            <canvas id="commentsChart" height="300"></canvas>
        </div>
    </div>

</div>

<% include ../../partials/footer.ejs %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>

<script>
    var graphColorTransparency = 0.2; // should be > 0 and < 1.0 

    var colors = {
        TBD: 'rgba(100, 100, 100, ' + graphColorTransparency + ')', 
        Adopt: 'rgba(0, 255, 0, ' + graphColorTransparency + ')',
        Trial: 'rgba(0, 0, 200, ' + graphColorTransparency + ')',
        Discuss: 'rgba(200, 200, 0, ' + graphColorTransparency + ')',
        Avoid: 'rgba(255, 0, 0, ' + graphColorTransparency + ')',
        Unknown: 'rgba(0, 0, 0, ' + graphColorTransparency + ')'
    };

    var statusLabels = [
        {text: 'TBD', fillStyle: colors.TBD}, 
        {text: 'Adopt', fillStyle: colors.Adopt},
        {text: 'Trial', fillStyle: colors.Trial},
        {text: 'Discuss', fillStyle: colors.Discuss},
        {text: 'Avoid', fillStyle: colors.Avoid},
    ];

    function assignColorsToData(apiData){
        return apiData.map(function(value, index){
            switch(value.status_id){
                case 0: return colors.TBD; 
                case 1: return colors.Adopt;
                case 2: return colors.Trial;
                case 3: return colors.Discuss;
                case 4: return colors.Avoid;
                default: return colors.Unknown;
            }
        });
    }

    function removeColorTransparency(dataColors){
        return dataColors.map(function(value, index){
            return value.replace(graphColorTransparency, '1.0'); // get rid of transparency
        });
    }

    function createLegend(labels){
        return {
            display: true,
            labels: {
                generateLabels: function(){
                    return labels;
                }
            }
        }
    }

    function defaultScalesSetup(){
        return { 
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    min: 0
                }
        }]};
    }

    $.get('/api/dash/votes/month', function (result) {

        var labels = [];
        var data = [];
        result.forEach(function (item) {
            labels.push(item.name);
            data.push(item.total);
        });
        
        var backgroundColor = assignColorsToData(result);
        var borderColor = removeColorTransparency(backgroundColor);

        var statusVoteElement = document.getElementById("statusChangesChart");
        var statusVoteChart = new Chart(statusVoteElement, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: backgroundColor,
                    borderColor: borderColor,
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Votes for status change in last 3 months'
                },
                legend: createLegend(statusLabels),
                scales: defaultScalesSetup()
            }
        });
    });

    $.get('/api/dash/technology/project', function (result) {
        var labels = [];
        var data = [];
        result.forEach(function (item) {
            labels.push(item.name);
            data.push(item.total);
        });

        var barCtx2 = document.getElementById("mostUsedTechChart");

        var backgroundColor = assignColorsToData(result);
        var borderColor = removeColorTransparency(backgroundColor);

        var myBarChart2 = new Chart(barCtx2, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of uses',
                    data: data,
                    backgroundColor: backgroundColor,
                    borderColor: borderColor,
                    borderWidth: 1
                }]
            },
            options: {
                onClick: function (evt) {
                    var segment = myBarChart2.getElementsAtEvent(evt);
                    console.log(segment);
                },
                legend: createLegend(statusLabels),
                title: {
                    display: true,
                    text: 'Technologies used in the most projects'
                },
                scales: defaultScalesSetup()
            }
        });
    });

    $.get('/api/dash/votes/users', function (result) {

        var labels = [];
        var data = [];
        result.forEach(function (item) {
            labels.push(item.username);
            data.push(item.total);
        });

        var userChartElement = document.getElementById("userChart");
        var userChart = new Chart(userChartElement, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    borderColor: 'black',
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Top 10 voting users'
                },
                scales: defaultScalesSetup()
            }
        });
    });



    $.get('/api/dash/technology/comments', function (result) {

        var labels = [];
        var data = [];
        result.forEach(function (item) {
            labels.push(item.technology);
            data.push(item.total);
        });

        var backgroundColor = assignColorsToData(result);
        var borderColor = removeColorTransparency(backgroundColor);

        var commentChartElement = document.getElementById("commentsChart");
        var commentChart = new Chart(commentChartElement, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Comments',
                    data: data,
                    backgroundColor: backgroundColor,
                    borderColor: borderColor,
                    borderWidth: 1

                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Top 10 Technologies with comments'
                },
                legend: createLegend(statusLabels),
                scales: defaultScalesSetup()
            }
        });
    });

    $.get('/api/dash/technology/usersCount?limit=99', function (apiData) {
        var ctx = document.getElementById("usersOfTechnology");
        var usersCount = apiData.map(function(value, index){
            return value.count;
        });
        var techNames = apiData.map(function(value, index){
            return value.name;
        });

        var backgroundColor = assignColorsToData(apiData);
        var borderColor = removeColorTransparency(backgroundColor);

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: techNames,      
                datasets: [{
                    label: 'Users',
                    data: usersCount,
                    backgroundColor: backgroundColor,
                    borderColor: borderColor,
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Technologies used by the most people'
                },
                legend: createLegend(statusLabels),
                scales: defaultScalesSetup()
            }
        });
    });
</script>

</body>
</html>
