<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../../../partials/head.ejs %>


    <link rel="stylesheet" href="/lib/bootstrap-table/bootstrap-table.min.css">

</head>

<body>

<% include ../../../partials/menu.ejs %>

<div tabindex="-1" id="content" class="site-header" style="margin-bottom: 10px">
    <div class="container">
        <row>
            <div class="col-md-12">
                <h1>Users</h1>
                <p>Manage system users</p>
            </div>
        </row>

    </div>
</div>

<div class="container bs-docs-container">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="/">Home</a></li>
            <li class="active">Manage users</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="custom-toolbar">
                <div class="form-inline" role="form">
                    <a href="/user/add"  class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add
                    </a>
                    <button id="deleteBtn" class="btn btn-danger" disabled="">
                        <i class="glyphicon glyphicon-remove"></i>
                        Delete
                    </button>
                </div>
            </div>
            <table id="results"></table>
        </div>
    </div>

</div>

<% include ../../../partials/footer.ejs %>

<script src="/lib/bootstrap-table/bootstrap-table.min.js"></script>
<script>

    <% include ../../../partials/sticky-table-page-size.ejs %> // contains the page_size variable

    $table = $('#results');
    $deleteBtn = $('#deleteBtn')

    // Disabled by default
    $deleteBtn.prop('disabled', 1);

    $table.bootstrapTable( {
        method: 'get',
        url: '/api/users',
        cache: false,
        striped: true,
        escape: true,
        idField: 'id',
        search: true,
        showColumns: true,
        showRefresh: true,
        showPaginationSwitch: true,
        pagination: true,
        pageSize: page_size, // declared and set in sticky-table-page-size.ejs 
        columns: [{
            field:'state',
            checkbox:'true'
        },   {
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'username',
            title: 'Username',
            sortable: true,
            formatter: operateFormatter
        }, {
            field: 'displayname',
            title: 'Full Name',
            align: 'center',
            sortable: true
        }, {
            field: 'rolename',
            title: 'Role',
            align: 'center',
            sortable: true
        }, {
            field: 'isadmin',
            title: 'Admin',
            align: 'center',
            sortable: true,
            formatter: adminFormatter
        }]
    });


    $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
        $deleteBtn.prop('disabled', !$table.bootstrapTable('getSelections').length);
    });

    $deleteBtn.click( function() {
        var r = confirm("Are you sure you want to delete all of the selected users");
        if (r == false) {
            return;
        }

        $deleteBtn.addClass("disabled");

        var data={};
        data.id = getIdSelections();

        $.ajax({
            type: "DELETE",
            url: '/api/user',
            contentType: "application/json",
            data: JSON.stringify(data),
            complete: function(result){
                if (result.success) {
                    $table.bootstrapTable('refresh' );
                    $deleteBtn.prop('disabled', true );
                } else {
                    alert("There was an error deleting technology :(");
                }

                $deleteBtn.removeClass("disabled");
            }
        });
    });

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

    function adminFormatter(value, row, index) {

        var column = [];
        if( row['isadmin']) {
            column = [ "<span class='glyphicon glyphicon-ok' aria-hidden='true'/>"]
        } else {
            column = [ "<span class='glyphicon glyphicon-remove' aria-hidden='true'/>"]
        }
        return column;
    }

    function operateFormatter(value, row, index) {
        return [
            '<a href="/user/' + row['id'] + '/edit">' + value + '</a>'
        ].join('');
    }
</script>

</body>
</html>
