body {
    padding-top: 40px;
}

.standard-section {
    padding: 30px 15px;
    text-align: justify;
}

.site-nav {
    background-color: #fff;
    border-bottom: 0 none;
    margin-bottom: 0;
}

/* Second menubar text positioning */
.nav-justified li  {
    width: auto;
}



/* Main menu text black */
nav ul  a{
    color : #000;
}

/* Main 'radar' menu black */
div.navbar-header a {
    color: #000;
}

/* General site links */
a {
    color: #6f5499;
 }

/* Remove the padding */
.breadcrumb {
    padding: 0px 0px;
}

.table td, .table th {
    text-align: center;
}

.site-header, .site-masthead {
    background-color: #6f5499;
    background-image: linear-gradient(to bottom, #563d7c 0px, #6f5499 100%);
    background-repeat: repeat-x;
    color: #cdbfe3;
    padding: 0px 0;
    position: relative;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 18px;
    min-height: 150px;
}

.site-header h1	{
    color: #fff;
    font-size: 50px;
}

.banner-text, .banner-text-link	{
    color: #fff;
}

.banner-text-link:hover {
    color: #cdbfe3;
    text-decoration: none;
}

.selectable {
    cursor: pointer;
}

button.btn-primary {
    background-color: #6f5499;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button.btn-primary:hover {
    background-color: #9932CC;
    color: white;
}

.list-group, .list-group-item {
    color: #6f5499;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.list-group-item.active {
    background-color: #6f5499;
    background-image: linear-gradient(to bottom, #563d7c 0px, #6f5499 100%);
    background-repeat: repeat-x;
    color: #fff;
    padding: 10px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

span.glyphicon-arrow-down {
    font-size: 2.2em;
}

span.glyphicon-arrow-right {
    font-size: 2.2em;
}

span.glyphicon-arrow-left {
    font-size: 2.2em;
}

/*font Awesome http://fontawesome.io*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/*Comment List styles*/
.comment-list .row {
    margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border:none;
    /*Panel-heading border radius*/
    border-top-right-radius:0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius:0px;
    right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}

/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-right-color: #FFFFFF;
        border-width: 15px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}
.comment-list .comment-post {
    margin-top: 6px;
}

.top-buffer {
    margin-top: 10px;
}

form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

form[role=login] input,
form[role=login] button {
    font-size: 14px;
    margin: 8px 0;
}
form[role=login] > div {
    text-align: center;
}

form[role=login] .warning {
    color: red;
}

.tab-content {
    color : white;
    background-color: #6f5499;
    padding : 5px 5px;
}


.nav-pills{
    background-color:#ffffff;
}
.tab-content{
    background-color:#6f5499;
    color:#fff;
    padding:5px
}
.nav-pills > li > a{
    ext-decoration: none;
    border: medium none;
}
.nav-pills > li > a:hover{
    ext-decoration: none;
    background-color: #6f5499 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.nav-pills > li > a:focus{
    ext-decoration: none;
    background-color: #6f5499 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.nav-pills > li.active > a{
    ext-decoration: none;
    background-color: #6f5499 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}
