<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <script type="text/javascript" src="/utils.js" charset="utf-8"></script>
</head>

<body>

<% include ../partials/menu.ejs %>

<div tabindex="-1" id="content" class="site-header">
    <div class="container">
        <h1>Add Technology</h1>
        <p>Add to the catalogue</p>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="/">Home</a></li>
            <li class="active">Add Technology</li>
        </ol>
    </div>

    <div class="col-md-8 col-md-offset-2" style="padding-top: 10px;">
        <form action="javascript:void(0);" method="POST">
            <div class="form-group">
                <label for="technologyName">Name of Technology</label>
                <input type="text" class="form-control" id="technologyName" name="technologyName" placeholder="Name"
                       required maxlength="40">
            </div>
            <div class="form-group">
                <label for="technologyWebsite">Website</label>
                <input type="url" class="form-control" id="technologyWebsite" name="technologyWebsite"
                       placeholder="Website" required maxlength="100">
            </div>
            <div class="form-group">
                <label for="technologyGroup">Category:</label>
                <select class="form-control" id="technologyCategory" name="technologyCategory">

                    <%
                    categories.forEach(function(category, index, arr) {
                    %>

                    <option value="<%= category.id %>"><%= category.name %></option>

                    <%
                    });
                    %>

                </select>
            </div>
            <div class="form-group">
                <label for="technologyLicence">Licence type</label>
                <input type="text" class="form-control" id="technologyLicence" name="technologyLicence" placeholder="Licence"
                       maxlength="40">
            </div>
            <div class="form-group">
                <label for="technologyLicenceLink">Licence link</label>
                <input type="url" class="form-control" id="technologyLicenceLink" name="technologyLicenceLink"
                       placeholder="Link to licence info" maxlength="200">
            </div>
            <div class="form-group">
                <label for="technologyDescription">Description</label>
                <textarea class="form-control" rows="3" id="technologyDescription" name="technologyDescription"
                          placeholder="Description" required></textarea>

            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>
</div><!-- /.container -->

<% include ../partials/footer.ejs %>
<script src="/shared/validators/technologyValidator.js"></script>

<script>

    $("form").submit(function (event) {


        var technologyName = $("form [name=technologyName]").val();
        var technologyWebsite = $("form [name=technologyWebsite]").val();
        var technologyLicenceLink = $("form [name=technologyLicenceLink]").val();

        var validationResult = TechnologyValidator.validateTechnologyName(technologyName);
        validationResult = validationResult.valid ? TechnologyValidator.validateTechnologyWebsite(technologyWebsite) : validationResult;
        validationResult = validationResult.valid ? TechnologyValidator.validateTechnologyLicenceWebsite(technologyLicenceLink) : validationResult;
        if (!validationResult.valid) {
            alert(validationResult.message);
            return;
        }

        $(":submit").attr("disabled", true);
        var frm = $('form');
        var frmdata = serialiseForm(frm);

        $.ajax({
            type: "POST",
            url: '/api/technology/',
            contentType: "application/json",
            data: JSON.stringify(frmdata),
            success: function (result) {
                if (result.success) {
                    location.href = "/comments/add/" + result.result;
                } else {
                    alert("There was an error adding the technology. Perhaps a technology with the same name already exists.");
                }

                $(":submit").attr("disabled", false);
            }
        });

        <% if (google_id != undefined) { %>
        ga('send', 'event', 'Technology', 'add', frm.find('input[name="technologyName"]').val());
        <% } %>
    });

</script>

</body>
</html>
