<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

</head>

<body>

<% include ../partials/menu-logged-out.ejs %>

<div tabindex="-1" id="content" class="site-header" style="margin-bottom: 60px">
    <div class="container">
        <h1 >Technology radar</h1>
        <p>Ooops something went wrong</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <br>
            <h3>We probably don't do that yet.</h3>
            <h3 align="centre"><a href="/">Please try something else</a></h3>

        </div>

    </div>



</div><!-- /.container -->


<% include ../partials/footer.ejs %>
</body>
</html>
