<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <script type="text/javascript" src="lib/protovis-3.2/protovis-d3.2.js"></script>

    <script type="text/javascript" src="radar.js" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">

    </script>

    <title>Krystal Ball</title>

</head>

<body onload="init(400,400);">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Krystal Ball</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#tools">Tools</a></li>
                <li><a href="#platforms">Platforms</a></li>
                <li><a href="#frameworks">Languages & Frameworks</a></li>
                <li><a href="#frameworks">Infrastructure</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Krystal Ball</h1>
        <p class="lead">Coming soon</p>
        <div id="radar"></div>
    </div>

</div><!-- /.container -->


<% include ../partials/footer.ejs %>
</body>
</html>
