<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <link href="/timeline.css" rel="stylesheet" type="text/css">

</head>

<body>

<% include ../partials/menu.ejs %>

<div tabindex="-1" id="content" class="site-header">
    <div class="container">
        <h1>Tech Radar</h1>
        <p>Community technology management</p>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12" style="padding-left: 15px;">
            <h1 class="page-header">Overview</h1>
            <p class="lead">A platform to allow teams to gather thoughts and views on technologies.
                Both the ones they are using and emerging technologies</p>
            <p class="lead">Everyone can <a href="#addtechnology">add</a>, <a href="#comment">comment</a> and <a
                        href="#vote">vote</a> on technologies.  The community's response can then
                        be <a href="#manage">assessed</a> and a decision made on the status of each technoogy.
                The result is then reflected in the <a href="#reports">reports</a></p>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12" align="center" >
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default" id="addtechnology">
                <div class="panel-heading">
                    <h3 class="panel-title">Add a technology</h3>
                </div>
                <div class="panel-body">
                    Anyone can add a technology to the database, the more the merrier.
                    Once added anyone can comment and vote on its status.
                    Should it be 'Adopted' or 'Avoided' ? You decide...
                </div>
            </div>
        </div>
      </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" align="center">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default" id>
                <div class="panel-heading">
                    <h3 class="panel-title">Comment</h3>
                </div>
                <div class="panel-body">
                    Add a comment or experience to a technology to help the assessment as to how successful it's use has
                    been.
                    This should include guidance,hints,tips and pitfalls of the technology for future projects.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" align="center">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
        </div>
    </div>


    <div class="row" id="vote">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Vote</h3>
                </div>
                <div class="panel-body">
                    Vote whether you think each technology should be 'Adopted' or 'Avoided'.
                    The votes and comments can then be assessed.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2" align="center">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
        </div>
    </div>

    <div class="row" id="vote">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Manage</h3>
                </div>
                <div class="panel-body">
                    Manage the status of each technology based on the communities response.
                    The results are reflected in the dynamic reports.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2" align="center">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
        </div>
    </div>

    <div class="row"  id="reports">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Reports</h3>
                </div>
                <div class="panel-body">
                    Results of the voting and comments. View simple a tables and charts showing the communities response.
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->

<% include ../partials/footer.ejs %>
</body>
</html>
