<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <title>Krystal Ball</title>

</head>

<body>

    <% include ../partials/menu.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 standard-section">
            <br>
            <H2>Hello - Select a category from the menu :)</H2>

        </div>
        <div class="col-sm-6 standard-section">

        </div>
    </div>



</div><!-- /.container -->


<% include ../partials/footer.ejs %>
</body>
</html>
