<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <link href="/timeline.css" rel="stylesheet" type="text/css">

</head>

<body>

<% include ../partials/menu.ejs %>

<div tabindex="-1" id="content" class="site-header">
    <div class="container">
        <h1>Tech Radar</h1>
        <p>Community technology planning</p>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12" style="padding-left: 15px;">
            <h1 class="page-header">Overview</h1>
            <p class="lead">A platform to allow teams to gather thoughts and views on technologies.
                Both the ones they are using and emerging technologies</p>
            <p class="lead">Everyone can <a href="#addtechnology">add</a>, <a href="#comment">comment</a> and <a
                        href="#vote">vote</a> on technologies.  The community's response can then
                        be <a href="#manage">assessed</a> and a decision made on the status of each technology.
                The result is then reflected in the <a href="#reports">reports</a></p>

        </div>
    </div>


    <ul class="timeline">
        <li id="addtechnology">
            <div class="timeline-badge"><i class="glyphicon glyphicon-plus"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Add a technology</h4>
                </div>
                <div class="timeline-body">
                    Anyone can add a technology to the database, the more the merrier.
                    Once added anyone can comment and vote on its status.
                    Should it be 'Adopted' or 'Avoided' ? You decide...
                </div>
            </div>
        </li>
        <li class="timeline-inverted" id="comment">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-comment"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Comment</h4>
                </div>
                <div class="timeline-body">
                    <p> Add a comment or experience to a technology. This informs the assessment how successful the use of a technology has been.
                        Comments should include guidance, hints, tips and pitfalls of the technology for future projects.</p>
                </div>
            </div>
        </li>
        <li id="vote">
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-ok"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Vote</h4>
                </div>
                <div class="timeline-body">
                    <p> Every user can vote on whether they think each technology should be 'Adopted' or 'Avoided'.
                        The votes and comments can then be reviews before the status is set.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted" id="manage">
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Manage</h4>
                </div>
                <div class="timeline-body">
                    <p> Change the status of each technology based on the communities response.
                        The results are automatically reflected in the reports.</p>
                </div>
            </div>
        </li>
        <li id="reports">
            <div class="timeline-badge info"><i class="glyphicon glyphicon-list-alt"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Reports</h4>
                </div>
                <div class="timeline-body">
                    <p>View and export the results of the voting and comments.</p>
                </div>
            </div>
        </li>
    </ul>

</div><!-- /.container -->

<% include ../partials/footer.ejs %>
</body>
</html>
