<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">

</head>

<body>

<% include ../partials/menu.ejs %>

<div tabindex="-1" id="content" class="site-header" style="margin-bottom: 10px">
    <div class="container">
        <row>
            <div class="col-md-12">
                <h1>Projects</h1>
                <p>Manage defined projects</p>
            </div>
        </row>

    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="custom-toolbar">
                <div class="form-inline" role="form">
                    <a href="/project/add"  class="btn btn-default">Add</a>
                    <a href="/error"  class="btn btn-default">Delete</a>
                </div>
            </div>
            <table id="results"></table>
        </div>
    </div>

</div>

<% include ../partials/footer.ejs %>


<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
<script>

    $('#results').bootstrapTable( {
        method: 'get',
        url: '/api/projects',
        cache: false,
        striped: true,
        escape: true,
        idField: 'id',
        search: true,
        showColumns: true,
        showRefresh: true,
        showPaginationSwitch: true,
        pagination: true,
        columns: [{
            field:'state',
            checkbox:'true'
        },   {
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'name',
            title: 'Name',
            sortable: true,
        }]
    })

</script>

</body>
</html>
