<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <link rel="stylesheet" href="/lib/bootstrap-table/bootstrap-table.min.css">

</head>

<body>

<% include ../partials/menu.ejs %>

<div tabindex="-1" id="content" class="site-header" style="margin-bottom: 10px">
    <div class="container">
        <row>
            <div class="col-md-12">
                <h1>Stacks</h1>
                <p>View Stacks</p>
            </div>
        </row>

    </div>
</div>

<div class="container bs-docs-container">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="/">Home</a></li>
            <li class="active">View stacks</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="custom-toolbar">
                <div class="form-inline" role="form">
                    <a href="/stack/add"  class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                        Create
                    </a>
                    <% if( user.admin ) { %>
                    <button id="deleteBtn" class="btn btn-danger" disabled="">
                        <i class="glyphicon glyphicon-remove"></i>
                        Delete
                    </button>
                    <% } %>
                </div>
            </div>
            <table id="results"></table>
        </div>
    </div>

</div>

<% include ../partials/footer.ejs %>

<script src="/lib/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/stickyTablePageSize.js"></script>
<script>

    
    $table = $('#results');
    $deleteBtn = $('#deleteBtn')

    $table.bootstrapTable( {
        method: 'get',
        url: '/api/stacks',
        cache: false,
        striped: true,
        escape: true,
        idField: 'id',
        search: true,
        showColumns: true,
        showRefresh: true,
        showPaginationSwitch: true,
        pagination: true,
        pageSize: page_size, // declared and set in stickyTablePageSize.js
        columns: [{
            field:'state',
            checkbox:'true'
        },   {
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'name',
            title: 'Name',
            sortable: true,
        }, {
            field: 'description',
            title: 'Description',
            sortable: false,
        }
        ]
    });

    <% if( user.admin ) { %>

    $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
        $deleteBtn.prop('disabled', !$table.bootstrapTable('getSelections').length);
    });

    $deleteBtn.click( function() {
        var r = confirm("Are you sure you want to delete the selected stacks");
        if (r == false) {
            return;
        }

        var data={};
        data.id = getIdSelections();

        $.ajax({
            type: "DELETE",
            url: '/api/stack',
            contentType: "application/json",
            data: JSON.stringify(data),
            complete: function(result){
                if (result.success) {
                    $table.bootstrapTable('refresh' );
                    $deleteBtn.prop('disabled', true );
                } else {
                    alert("There was an error deleting stack :(");
                }
            }
        });
    });
    <% } %>


    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

</script>

</body>
</html>
