<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-top"};
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->
</head>

<body>

<% include ../partials/menu-logged-out.ejs %>

<div tabindex="-1" id="content" class="site-header" style="margin-bottom: 60px">
    <div class="container">
        <h1 >Technology radar</h1>
        <p>Community technology planning</p>
    </div>
</div>

<div class="container bs-docs-container">

    <row>
        <div class="col-md-4 col-md-offset-4" >
            <% if (process.env.AZURE_IDENTITY_METADATA) { %>
            <form class="form-signin" action="/loginAzureAD" method="get" role="login">
            <img src="radar.png"  width="75px">
            <h4 class="form-signin-heading">Sign in using: </h4>
                <button class="btn btn-sm btn-primary btn-block" type="submit">ADFS</button>
            </form>
            <br/>
            <% } %>

            <form class="form-signin" action="/login" method="post" role="login">
                <% if (process.env.AZURE_IDENTITY_METADATA) { %>
                    <h5 class="form-signin-heading">Or with registered user:</h5>
                <% } else { %>
                    <h5 class="form-signin-heading">Login:</h5>
                <% } %>
                <% if(messages.length>0) {%>
                <label class="warning"><%=messages[0]%></label>
                <%}%>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <p class="text-center">No account? <a href="/signup">Sign up</a></p>
            </form>

         </div>
    </row>
</div>

<% include ../partials/footer.ejs %>
</body>
</html>
